* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #dfe9f5;
  margin: 0;
  padding: 0;
}

.form-box {
  width: 330px;
  padding: 2rem 1rem;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  color: #07001f;
  margin-bottom: 1.2rem;
  text-align: left;
}

form input,
form select {
  width: 92%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #e4e4e4;
  background-image: url("arrow-down-icon.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 20px;
  padding-right: 40px;
}

form input:focus,
form select:focus {
  border: 1px solid rgb(192, 192, 192);
}

select option {
  background: #fff;
  color: #000;
}

.btn {
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 90%;
  color: #fff;
  cursor: pointer;
  background: rgb(17, 107, 143);
}

.btn:hover {
  background: rgba(17, 107, 143, 0.877);
}

input:focus,
select:focus {
  border: 1px solid rgb(192, 192, 192);
}

.terms {
  margin-top: 0.2rem;
}

.terms input {
  height: 0.9rem;
  width: 1rem;
  vertical-align: middle;
  cursor: pointer;
}

.terms label {
  font-size: 1rem;
}

.terms a {
  color: rgb(17, 107, 143);
  text-decoration: none;
}

.user {
  font-size: 0.8rem;
  margin-top: 1.4rem;
  color: #636363;
}

.user a {
  color: rgb(17, 107, 143);
  text-decoration: none;
}

.username-header {
  position: absolute;
  top: 0;
  right: 0;
}

h2 {
  font-size: 1.5rem;
  color: #07001f;
  margin-bottom: 1.2rem;
}
